<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziroom.tech.demeterapi.dao.mapper.DemeterCoreDataDao">
    <resultMap id="BaseResultMap" type="com.ziroom.tech.demeterapi.dao.entity.DemeterCoreData">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="core_name" property="coreName" jdbcType="VARCHAR"/>
        <result column="core_data" property="coreData" jdbcType="VARCHAR"/>
        <result column="core_type" property="coreType" jdbcType="VARCHAR"/>
        <result column="department_code" property="departmentCode" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="core_sys_name" property="coreSysName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, core_name, core_data, core_type, department_code, create_user, create_time, update_time, core_sys_name
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterCoreDataExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        FROM demeter_core_data
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM demeter_core_data
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="countByExample" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterCoreData" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM demeter_core_data
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM demeter_core_data
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterCoreData">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO demeter_core_data (core_name, core_data, core_type, department_code, create_user, create_time, update_time,
            core_sys_name)
        VALUES (#{coreName,jdbcType=VARCHAR}, #{coreData,jdbcType=VARCHAR}, #{coreType,jdbcType=VARCHAR}, #{departmentCode,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
            #{coreSysName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterCoreData">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO demeter_core_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coreName != null">
                core_name,
            </if>
            <if test="coreData != null">
                core_data,
            </if>
            <if test="coreType != null">
                core_type,
            </if>
            <if test="departmentCode != null">
                department_code,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="coreSysName != null">
                core_sys_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coreName != null">
                #{coreName,jdbcType=VARCHAR},
            </if>
            <if test="coreData != null">
                #{coreData,jdbcType=VARCHAR},
            </if>
            <if test="coreType != null">
                #{coreType,jdbcType=VARCHAR},
            </if>
            <if test="departmentCode != null">
                #{departmentCode,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="coreSysName != null">
                #{coreSysName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <SELECT id="countByExample" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterCoreDataExample" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM demeter_core_data
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </SELECT>
    <update id="updateByExampleSelective" parameterType="map">
        UPDATE demeter_core_data
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.coreName != null">
                core_name = #{record.coreName,jdbcType=VARCHAR},
            </if>
            <if test="record.coreData != null">
                core_data = #{record.coreData,jdbcType=VARCHAR},
            </if>
            <if test="record.coreType != null">
                core_type = #{record.coreType,jdbcType=VARCHAR},
            </if>
            <if test="record.departmentCode != null">
                department_code = #{record.departmentCode,jdbcType=VARCHAR},
            </if>
            <if test="record.createUser != null">
                create_user = #{record.createUser,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.coreSysName != null">
                core_sys_name = #{record.coreSysName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        UPDATE demeter_core_data
        SET id = #{record.id,jdbcType=BIGINT},
            core_name = #{record.coreName,jdbcType=VARCHAR},
            core_data = #{record.coreData,jdbcType=VARCHAR},
            core_type = #{record.coreType,jdbcType=VARCHAR},
            department_code = #{record.departmentCode,jdbcType=VARCHAR},
            create_user = #{record.createUser,jdbcType=VARCHAR},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            core_sys_name = #{record.coreSysName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterCoreData">
        UPDATE demeter_core_data
        <set>
            <if test="coreName != null">
                core_name = #{coreName,jdbcType=VARCHAR},
            </if>
            <if test="coreData != null">
                core_data = #{coreData,jdbcType=VARCHAR},
            </if>
            <if test="coreType != null">
                core_type = #{coreType,jdbcType=VARCHAR},
            </if>
            <if test="departmentCode != null">
                department_code = #{departmentCode,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="coreSysName != null">
                core_sys_name = #{coreSysName,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterCoreData">
        UPDATE demeter_core_data
        SET core_name = #{coreName,jdbcType=VARCHAR},
            core_data = #{coreData,jdbcType=VARCHAR},
            core_type = #{coreType,jdbcType=VARCHAR},
            department_code = #{departmentCode,jdbcType=VARCHAR},
            create_user = #{createUser,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            core_sys_name = #{coreSysName,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
