<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziroom.tech.demeterapi.dao.mapper.DemeterUserInfoDao">
    <resultMap id="BaseResultMap" type="com.ziroom.tech.demeterapi.dao.entity.DemeterUserInfo">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="job_code" property="jobCode" jdbcType="VARCHAR"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="user_level" property="userLevel" jdbcType="VARCHAR"/>
        <result column="group_code" property="groupCode" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="dept_code" property="deptCode" jdbcType="VARCHAR"/>
        <result column="dept_name" property="deptName" jdbcType="VARCHAR"/>
        <result column="center_code" property="centerCode" jdbcType="VARCHAR"/>
        <result column="secondary_platform_code" property="secondaryPlatformCode" jdbcType="VARCHAR"/>
        <result column="platform_code" property="platformCode" jdbcType="VARCHAR"/>
        <result column="company_code" property="companyCode" jdbcType="VARCHAR"/>
        <result column="tree_path" property="treePath" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, name, job_code, job_name, user_code, email, user_level, group_code, group_name, dept_code, dept_name, center_code, secondary_platform_code, platform_code, company_code, tree_path, create_time, update_time
    </sql>

    <select id="countByExample" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterUserInfoExample" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM demeter_user_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterUserInfoExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        FROM demeter_user_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM demeter_user_info
        WHERE id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM demeter_user_info
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterUserInfo">
        <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO demeter_user_info (name, job_code, job_name, user_code, email, user_level, group_code, 
            group_name, dept_code, dept_name, center_code, secondary_platform_code, platform_code, 
            company_code, tree_path, create_time, update_time)
        VALUES (#{name,jdbcType=VARCHAR}, #{jobCode,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{userLevel,jdbcType=VARCHAR}, #{groupCode,jdbcType=VARCHAR}, 
            #{groupName,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{centerCode,jdbcType=VARCHAR}, #{secondaryPlatformCode,jdbcType=VARCHAR}, #{platformCode,jdbcType=VARCHAR}, 
            #{companyCode,jdbcType=VARCHAR}, #{treePath,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterUserInfo">
        <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO demeter_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="jobCode != null">
                job_code,
            </if>
            <if test="jobName != null">
                job_name,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="userLevel != null">
                user_level,
            </if>
            <if test="groupCode != null">
                group_code,
            </if>
            <if test="groupName != null">
                group_name,
            </if>
            <if test="deptCode != null">
                dept_code,
            </if>
            <if test="deptName != null">
                dept_name,
            </if>
            <if test="centerCode != null">
                center_code,
            </if>
            <if test="secondaryPlatformCode != null">
                secondary_platform_code,
            </if>
            <if test="platformCode != null">
                platform_code,
            </if>
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="treePath != null">
                tree_path,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="jobCode != null">
                #{jobCode,jdbcType=VARCHAR},
            </if>
            <if test="jobName != null">
                #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="userLevel != null">
                #{userLevel,jdbcType=VARCHAR},
            </if>
            <if test="groupCode != null">
                #{groupCode,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="deptCode != null">
                #{deptCode,jdbcType=VARCHAR},
            </if>
            <if test="deptName != null">
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="centerCode != null">
                #{centerCode,jdbcType=VARCHAR},
            </if>
            <if test="secondaryPlatformCode != null">
                #{secondaryPlatformCode,jdbcType=VARCHAR},
            </if>
            <if test="platformCode != null">
                #{platformCode,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="treePath != null">
                #{treePath,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <update id="updateByExampleSelective" parameterType="map">
        UPDATE demeter_user_info
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.jobCode != null">
                job_code = #{record.jobCode,jdbcType=VARCHAR},
            </if>
            <if test="record.jobName != null">
                job_name = #{record.jobName,jdbcType=VARCHAR},
            </if>
            <if test="record.userCode != null">
                user_code = #{record.userCode,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null">
                email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.userLevel != null">
                user_level = #{record.userLevel,jdbcType=VARCHAR},
            </if>
            <if test="record.groupCode != null">
                group_code = #{record.groupCode,jdbcType=VARCHAR},
            </if>
            <if test="record.groupName != null">
                group_name = #{record.groupName,jdbcType=VARCHAR},
            </if>
            <if test="record.deptCode != null">
                dept_code = #{record.deptCode,jdbcType=VARCHAR},
            </if>
            <if test="record.deptName != null">
                dept_name = #{record.deptName,jdbcType=VARCHAR},
            </if>
            <if test="record.centerCode != null">
                center_code = #{record.centerCode,jdbcType=VARCHAR},
            </if>
            <if test="record.secondaryPlatformCode != null">
                secondary_platform_code = #{record.secondaryPlatformCode,jdbcType=VARCHAR},
            </if>
            <if test="record.platformCode != null">
                platform_code = #{record.platformCode,jdbcType=VARCHAR},
            </if>
            <if test="record.companyCode != null">
                company_code = #{record.companyCode,jdbcType=VARCHAR},
            </if>
            <if test="record.treePath != null">
                tree_path = #{record.treePath,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=DATE},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=DATE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        UPDATE demeter_user_info
        SET id = #{record.id,jdbcType=VARCHAR},
            name = #{record.name,jdbcType=VARCHAR},
            job_code = #{record.jobCode,jdbcType=VARCHAR},
            job_name = #{record.jobName,jdbcType=VARCHAR},
            user_code = #{record.userCode,jdbcType=VARCHAR},
            email = #{record.email,jdbcType=VARCHAR},
            user_level = #{record.userLevel,jdbcType=VARCHAR},
            group_code = #{record.groupCode,jdbcType=VARCHAR},
            group_name = #{record.groupName,jdbcType=VARCHAR},
            dept_code = #{record.deptCode,jdbcType=VARCHAR},
            dept_name = #{record.deptName,jdbcType=VARCHAR},
            center_code = #{record.centerCode,jdbcType=VARCHAR},
            secondary_platform_code = #{record.secondaryPlatformCode,jdbcType=VARCHAR},
            platform_code = #{record.platformCode,jdbcType=VARCHAR},
            company_code = #{record.companyCode,jdbcType=VARCHAR},
            tree_path = #{record.treePath,jdbcType=VARCHAR},
            create_time = #{record.createTime,jdbcType=DATE},
            update_time = #{record.updateTime,jdbcType=DATE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterUserInfo">
        UPDATE demeter_user_info
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="jobCode != null">
                job_code = #{jobCode,jdbcType=VARCHAR},
            </if>
            <if test="jobName != null">
                job_name = #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="userLevel != null">
                user_level = #{userLevel,jdbcType=VARCHAR},
            </if>
            <if test="groupCode != null">
                group_code = #{groupCode,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="deptCode != null">
                dept_code = #{deptCode,jdbcType=VARCHAR},
            </if>
            <if test="deptName != null">
                dept_name = #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="centerCode != null">
                center_code = #{centerCode,jdbcType=VARCHAR},
            </if>
            <if test="secondaryPlatformCode != null">
                secondary_platform_code = #{secondaryPlatformCode,jdbcType=VARCHAR},
            </if>
            <if test="platformCode != null">
                platform_code = #{platformCode,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                company_code = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="treePath != null">
                tree_path = #{treePath,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=DATE},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ziroom.tech.demeterapi.dao.entity.DemeterUserInfo">
        UPDATE demeter_user_info
        SET name = #{name,jdbcType=VARCHAR},
            job_code = #{jobCode,jdbcType=VARCHAR},
            job_name = #{jobName,jdbcType=VARCHAR},
            user_code = #{userCode,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            user_level = #{userLevel,jdbcType=VARCHAR},
            group_code = #{groupCode,jdbcType=VARCHAR},
            group_name = #{groupName,jdbcType=VARCHAR},
            dept_code = #{deptCode,jdbcType=VARCHAR},
            dept_name = #{deptName,jdbcType=VARCHAR},
            center_code = #{centerCode,jdbcType=VARCHAR},
            secondary_platform_code = #{secondaryPlatformCode,jdbcType=VARCHAR},
            platform_code = #{platformCode,jdbcType=VARCHAR},
            company_code = #{companyCode,jdbcType=VARCHAR},
            tree_path = #{treePath,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=DATE},
            update_time = #{updateTime,jdbcType=DATE}
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>