<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1">
    <link rel="stylesheet" href="//img.sunyur.com/157725579400182251.css"/>
    <link rel="stylesheet"
          th:attr="href=${staticUrl}+'/??fe-common/reset/reset.css,fe-common/modules/sy-element-ui/1.0/dist/element-ui.css,fe-open-front/pages/index/dist/index.css'">
    <script th:utext="'window.fe = window.fe || {}; window.fe.project = \'open-front\'; window.fe.baseUrl = \''+${baseUrl}+'\';window.fe.staticUrl = \''+${staticUrl}+'\''"></script>
</head>
<body>
<div id="app">
    <input id="parameterCSRF" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden="hidden">
    <input id="headerCSRF" th:name="${_csrf.headerName}" th:value="${_csrf.token}" hidden="hidden">
    <router-view></router-view>
</div>
<script th:attr="src=${staticUrl}+'/??fe-common/modules/sy-vue/1.0/dist/index.js,fe-common/modules/sy-element-ui/1.0/dist/element-ui.js'"></script>
<!--当前页面js-->
<script  th:attr="src=${staticUrl}+'/fe-open-front/pages/index/dist/index.js'"></script>
</body>
</html>